body{
    margin: 0px;
    background: linear-gradient(340deg, rgb(143, 212, 207), rgb(54, 55, 61));
}

.cardEmail{
    background-color: rgb(199, 199, 199, 0.7);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 460px;
    border-radius: 8px;
    /* border: solid 5px rgb(102, 102, 102, 0.6); */
}

.SubEmail{
    height: 624px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#emailAcess{
    margin-right: 35px;
}

#buttonSubmit{
    height: 24px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(84, 148, 144);
    border-radius: 8px;
    border: 0;
}

#buttonSubmit:hover{
    background-color: rgb(93, 182, 176);
}

#emailAcess{
    border-radius: 5px;
    border: 0;

}

.wrongClass{
    margin-bottom: 10px;
    display: none;
    color: red;
    font-weight: bolder;
}

.hide{
    display: none;
}